@charset "utf-8";
/* CSS Document */
*html{background-image:url(about:blank);background-attachment:fixed;}
body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;}
article,aside,header,footer,nav,section,figure,figcaption,hgroup,progress,canvas{display:block}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
body{font:14px Arial,"\5b8b\4f53", sans-serif;-webkit-text-size-adjust:100%;}
h1,h2,h3,h4,h5,h6,button,input,select,textarea{font-size:100%; font-weight:normal; font-style:normal;}
table{border-collapse:collapse;border-spacing:0;font-size:100%;empty-cells:show}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,th,var{font-style:normal; font-weight:normal;}
button,input,select,textarea{font-family:Arial, Helvetica, sans-serif;text-decoration: none;outline:none;-moz-outline:none;font-size:100%;}
input, select, label {vertical-align: middle;}
button,input{line-height:normal}
ul,ol,li,dl{list-style-type:none;}         i,em{font-style:normal}     svg:not(:root){overflow:hidden}
img{vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;-webkit-tap-highlight-color:rgba(0,0,0,0);}   

.jedatebox{width:268px;height:auto; border:1px #78BA32 solid;position: absolute;background-color:#fff;font-family:'microsoft yahei',Verdana,"\u5fae\u8f6f\u96c5\u9ed1","\5b8b\4f53",Arial;font-size:14px; display:none; cursor:default;}
.jedatebox.dateshow{display:block;}
.jedatebox .jedatetop{width:100%;background: #78BA32; color:#fff; overflow:hidden;text-align:center;font-family:'\5B8B\4F53';}
.jedatebox .jedateym{float:left;height:40px; line-height:40px;}
.jedateym span{width:70%;padding: 0;float:left;text-align: center;text-overflow: ellipsis; display:block;}
.jedateym span input{width:100%;float:left;padding: 0;border:none;background-color:transparent;text-align: center;}
.jedateym .prev,.jedateym .next{width:15%;height:40px; line-height:45px;float:left;display:block;text-align: center;}
.jedateym .prev:before{width: 0;height: 0; display:inline-block;border-width: 7px; border-style: dashed;border-color: transparent;overflow: hidden;border-right-style:solid; border-right-color:#fff;content: "";margin: 0 9px 0 0;}
.jedateym .next:before{width: 0;height: 0; display:inline-block;border-width: 7px; border-style: dashed;border-color: transparent;overflow: hidden;border-left-style:solid; border-left-color:#fff;content: "";margin: 0 0 0 6px;}
.jedateym .pndrop{width:14px;height:14px; overflow:hidden;display: inline-block;position:relative;vertical-align: middle;}
.jedateym .pndrop:before{width: 0;height: 0; display:inline-block;border-width:5px; border-style: dashed;border-color: transparent;overflow: hidden;border-top-style:solid; border-top-color:#fff;content: ""; position:absolute; top:4px; left:2px;}

.jedatesety,.jedatesetm{width: 100%; position:absolute;left:0; top:40px; bottom:0;background-color: #fff;}
.jedatesety .ymdropul,.jedatesetm .ymdropul{width:100%;height:210px;overflow:auto;}
.jedatesety .ymdropul li{width:33.3%;float:left;text-align: center;height:40px; line-height:40px;}
.jedatesetm .ymdropul li{width:33.3%;float:left;text-align: center;height:50px; line-height:50px;}
.jedatesety .ymdropul li.action,.jedatesetm .ymdropul li.action{background: #78BA32;color:#fff;}
.jedatetopym p{overflow:auto; padding-top:4px;}
.jedatetopym p span{width:31%; margin:0 1.1%;background-color: #78BA32;color: #fff;display: block;height:28px;line-height:28px; border-radius:5px;text-align:center;font-family:'\5B8B\4F53';}
.jedatetopym p span.jedateymchri{background-color: #ECF4FB;color: #1F547E;float:left;font-size: 16px;}
.jedatetopym p span.jedateymchle{background-color: #ECF4FB;color: #1F547E;float:left;font-size: 16px;}
.jedatetopym p span.jedateymchok{background-color: #78BA32;color:#fff;float:right;font-size: 12px;}

.jedatebox .jedaym{height:202px;overflow:auto; padding:5px;}
.jedatebox .jedaym li{width:50%;float:left;text-align: center;height:32px; line-height:32px;}
.jedatebox .jedaym li.action{background: #78BA32;color:#fff;}
.jedatebox .jedaol{width:100%;overflow:auto;}
.jedatebox .jedaul{ padding:0 4px;overflow:auto;}
.jedatebox .jedaol li,.jedatebox .jedaul li{width:14.28%; float:left; height:30px; line-height:30px; text-align:center;}
.jedatebox .jedaul li{width:14.28%;float:left;}
.jedatebox .jedaol li.weeks{background:#f5f5f5;border-bottom: 1px solid #ddd;}
.jedatebox .jedaul li.action{background: #78BA32;color:#fff;}
.jedatebox .jedaul li.prevdate,.jedatebox .jedaul li.nextdate{color:#CAE8AA;}
.jedatebox .jedaul li.disabled{ color:#bbb;}
.jedatebox .jedaul li:nth-child(7n){border-right:none;}

.jedatebot{height:34px;line-height:34px; padding:0 3px 0 5px;overflow:hidden; background:#f5f5f5;}
.jedatebot .botflex{width:50%;float:left;display:block;margin:0;padding-top:3px; overflow:hidden;}
.jedatebot .botflex li{width:33.33%; float:left;text-align:center;}
.jedatebot .botflex li em{width:70%;float:left;padding: 0;border:none;border:1px #ddd solid;background-color: #fff;text-align: center;display:block;height:28px;line-height:28px;}
.jedatebot .botflex li i{width:30%;float:left;height:28px;line-height:26px;font-style:normal;display:block;text-align: center;}
.jedatebot .jedatebtn{text-align:center;font-size: 12px;font-family:'\5B8B\4F53';}
.jedatebot .jedatebtn span{float:left; margin:0 1.1%;background-color: #78BA32;color: #fff;display: block;height:28px;line-height:28px; border-radius:5px;text-align:center;}
.jedateh,.jedatems{width: 100%; position:absolute;left:0; bottom:40px;background-color: #fff;border-top: 1px solid #ccc;}
.jedatehmstitle{width:100%;height:35px;line-height:35px;background: #f5f5f5; color:#000;position: relative; overflow:hidden;text-align:center;font-size: 15px;}
.jedateh p{width:20%;float:left;text-align: center;height:32px; line-height:32px;}
.jedatems p{width:10%;float:left;text-align: center;height:32px; line-height:32px;}
.jedateh p.action,.jedatems p.action{background: #78BA32;color:#fff;}
.jedatehmsclose{width:30px; height:30px; line-height:26px; text-align:center;position: absolute;top:50%;right:4px; margin-top:-15px;z-index:150;font-size:24px;}

